/*Typography*/
@font-face {
  font-family: "Marker";
  src: url("fonts/MarkerFelt.woff");
}

/*All*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*All Website Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marker", sans-serif;
}

h3 {
  margin-right: 50px;
  width:50px
}

/*Branding Main*/
main {
  display: block;
  margin: 0px auto 0 auto;
  padding: 0 10% 0 10%;
  width:70%;
}

p {
  margin:0 0 50px 0;
}

#title {
  display: block;
  height: 50px;
  margin:0 auto 50px auto;
}

#asset2 {
  margin: 0 auto 0px auto;
}

#asset1,
#asset2,
#asset4 {
  display: block;
  margin: 0 auto 50px auto;
  width: 80%;
}

#asset3-mobile {
  display: block;
  margin: 0 auto 50px auto;
  width: 100%;
}

#asset4 {
  display: block;
  margin: 0 auto 50px auto;
  width: 80%;
}

.software {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.design {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.color-scheme-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 0 100px 0;
}

.color-scheme-container h3 {
  padding-top: 20px;
  width: 300px;
  margin: 10px 20px 0 0;
  flex-direction: row;
}

.colors {
  display: flex;
}

.color {
  padding: 10px;
  width: 100px; 
  height: 100px; 
  display: flex;
  align-items: top;
  justify-content: left;
  color: black; 
  font-size: 0.75em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

/*Screen Formats*/
@media (max-width: 768px) {
  main {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 20px;
  }

  #title {
    height: 20px;
  }

  #asset1,
  #asset2 {
    display: block;
    margin: 0 auto 50px auto;
    width: 100%;
  }

  #asset2 {
    margin: 3px auto 20px auto;
  }

  #asset3 {
    display: none;
  }

  

  .software {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .design {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .color-scheme-container {
    display: flex;
    flex-direction: column;
    align-items: left; /* Centers items horizontally if needed */
  }
  
  .color-scheme-container h3 {
    width: 100%;
  }

  .color-scheme-container img,
  .color-scheme-container {
    width: 100%; /* Set the width to 100% of the container if needed */
    padding: 10px 0;
  }
  
  .colors {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
  }
  
  .color.box {
    width:100%;
    margin: 0;
    height: 50px;
  }

  .box1 {
    color: black;
  }
  
}