@font-face {
  font-family: "marker";
  src: url("../fonts/MarkerFelt.woff");
}

#main-img-container {
  position: relative;
  display: block;
  width: 40%;  /* This controls the size of the main image and its container */
  margin: 50px auto;
  height: auto;  /* Adjust based on your design needs */
  overflow: hidden;
}

#main-img {
  display: block;
  width: 100%;  /* This makes the main image fill its container */
  height: auto;  /* Maintain aspect ratio */
}

#flash, #white-flash, #character {
  position: absolute;
  display: block;
  opacity: 0;  /* Start hidden and can be animated to appear */
}

#flash {
  width: 6%;  /* Adjust sizing relative to container */
  top: 57%;   /* Adjust positioning */
  left: 75%;
  animation: whiteFlashAnimation 1s forwards;
  animation-delay: 1s;
}

#white-flash {
  top: 0%; 
  left: 0%;
  width: 120%;
  height: 200%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 40%);
  animation: whiteFlashAnimation 1s forwards;
  animation-delay: 1.5s;
}

#character {
  width: 17%;  /* Adjust sizing relative to container */
  top: 41.8%;
  left: 41%;
  transform: translate(-50%, -50%);
  animation: characterFadeIn 2s forwards;
  animation-delay: 2.6s;
}

#asset1 {
  margin: 0 auto;
}

#asset2 {
  display: none;
  margin-top:-200px;
  margin-bottom:-50px;
}

#asset3,
#asset4,
#asset5,
#asset6,
#asset7 {
  display: block;
  margin: auto;
  padding: 50px 0px 0px;
  width: 60%;
  padding: 10px;
}

/*About Section*/
#about {
  padding-top: 75px;
  margin:0px auto 0 auto;
  width: 60%;
  overflow: hidden;
  background-color: #fff;
}

#about img {
  max-width: 200px;
  box-shadow: #333;
  margin: 20px 0px;
  border-radius: 100%;
}

#about h2 {
  padding: 20px 20px;
  text-align: center;
  font-family: marker;
  font-size: 1.2em;
}

#about p {
  padding: 20px 20px;
}

.p2 {
  margin: -20px 40px;
}

/*Education Section*/

#education {
  padding-top: 75px;
  margin-top: 75px;
  position: relative;
  background-color: #e2e0e0;
}

/*Work Section*/

#work {
  padding-top: 100px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin: 100px auto 0 auto;
  width: 90%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.learn-more {
  display: inline-block;
  color: black;
  padding: 2px 20px;
  border-radius: 2px;
  text-align: right;
  margin: 20px 21% 100px auto;
  border: 2px solid #e2e0e0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.learn-more:hover {
  background-color: #e2e0e0;
}

/*Contact Section*/

#contact {
  max-width: 450px;
  margin: 0px auto 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-container {
  display: flex;
  flex-direction: row;
}

#me {
  height: 200px; 
  border-radius: 50%; 
}

#contact-information-container {
  flex: 1;
}

#contact-information-container h2, p {
  flex: 1;
  padding:5px 0;
}


@media (max-width: 1199px) {

  #asset3,
  #asset4,
  #asset5,
  #asset6,
  #asset7 {
    width: 80%;
    margin-top: 0px;
  }

  #about {
    width: 100%;
  }

  #about p {
    padding: 20px;
  }

  .learn-more {
    margin-right: 10%;
  }
}

@media (max-width: 768px) {

  #main-img {
    width: 100%;
    padding: 10px;
  }

  #about {
    width: 100%;
  }

  #about p {
    padding: 0px 20px 50px;
    font-size: 1em;
  }

  #asset1 {
    display: none;
  }

  #asset2 {
    display: block;
  }

  #work {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  #asset2,
  #asset3,
  #asset4,
  #asset5,
  #asset6,
  #asset7 {
    width: 100%;
    padding: 0;
  }

  .learn-more {
    margin-right: 0%;
    margin-bottom: 40px;
  }

  #contact {
    padding: 50px;
  }

  #contact h2 {
    font-size: 1em;
  }

  #contact p {
    padding: 2px 0;
    font-size: 0.7em;
  }

  #me {
    height: 100px; 
    border-radius: 50%; 
  }
}

@keyframes flashAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes characterFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@keyframes whiteFlashAnimation {
  0%, 100% {
    opacity: 0;  /* Make the flash completely transparent at the start and end */
  }
  50% {
    opacity: 1;  /* Fully visible at the midpoint of the animation */
  }
}