#asset1-desktop,
#asset2-desktop,
#asset3-desktop,
#asset4-desktop,
#asset5-desktop {
  display: block;
  width: 53%;
  margin: 50px auto;
}

#asset3-desktop {
  box-shadow: rgba(0, 0, 0, 0.35) -10px 5px 15px;
  width: 49%;
}

#asset1-mobile,
#asset2-mobile,
#asset3-mobile,
#asset4-mobile,
#asset5-mobile,
#asset6-mobile,
#asset7-mobile {
  display: none;
}

.p1 {
  margin-left: 26%;
  font-size: 1em;
  margin-bottom: -50px;
}

.p2 {
  display: none;
}

@media (max-width: 768px) {
  #asset1-desktop,
  #asset2-desktop,
  #asset3-desktop,
  #asset4-desktop,
  #asset5-desktop {
    display: none;
  }

  #asset1-mobile,
  #asset2-mobile,
  #asset3-mobile,
  #asset4-mobile,
  #asset5-mobile,
  #asset6-mobile,
  #asset7-mobile {
    display: block;
    width: 100%;
    margin: 0px auto 50px auto;
    padding: 20px;
  }

  #asset1-mobile {
    padding-left: 0px;
  }

  .p1 {
    display: none;
  }

  .p2 {
    position: absolute;
    display: block;
    margin-left: 10%;
    margin-bottom: -70px;
    font-size: 0.6em;
  }

}